node_modules/
.env
.DS_Store
dist/
dist-ssr/
*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Non-Project Files
.agents/
*.pdf
problem statement.pdf
sample photo.pdf
problem statement.pdf
sample photo.pdf